@import "mixins";
@import "variables";

//----------------------- filters -------------------------
.filters {
  width: 20%;
  padding-right: 10px;
  font-weight: 300;
  font-size: 16px;
  border-right: 1px solid #c1c2c3;

}

.filters ul {
  list-style: none;
}

.filters-title {
  margin-top: 2px;
  margin-bottom: 45px;
  border-bottom: 1px solid black;
  display: inline-block;
}

//-------------------------------- mobile filters -------------------------------
.mob-filters-show-btn {
  display: none;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;

  &.opened {
    margin-top: 10px;
    transform: rotate(-180deg);
  }

  span {
    display: inline-block;
    background-color: black;
    height: 1px;
    width: 30px;
    position: absolute;

    &:first-child {
      transform: rotate(45deg);
      top: 20px;
      left: -10px;
    }

    &:last-child {
      transform: rotate(-45deg);
      top: 20px;
      left: 12px;
    }
  }

  &:hover,
  &:active {
    span {
      background-color: $color-blue;
    }
  }

  &:visited,
  &:focus,
  &:active {
    outline: none;
  }
}

.filters-forms {
  transition: 0.5s all;
}

.filters-section {
  padding: 10px;
  transition: 0.5s all;
}

.filters-section-title {
  font-weight: 700;
}

.filters-list {
  padding: 10px 5px;
}

.filters li {
  margin: 3px 0;
}

//----------------------- checkbox -------------------------
.filters-checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;

  input {
    position: absolute;
    left: 0;
    right: 0;
    width: 20px;
    height: 20px;
    opacity: 0;
  }
}

.filters-checkbox {

  input + span {
    flex-shrink: 0;
    margin-right: 5px;
    display: block;
    height: 20px;
    width: 20px;
    border: 1px solid #bbbbbb;
    position: relative;
  }

  input:hover + span {
    border: 1px solid #00e4ff;
  }

  input + span:after {
    content: '';
    background: url("../images/tick_32x32.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: 0.5s all;
    opacity: 0;
  }

  input:checked + span:after {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

//----------------------------------------------------------

.filters-button-row {
  display: flex;
  justify-content: flex-end;

  input {
    @include btn;

    width: 35px;
    margin: 0 10px;
    font-size: 12px;

    &:hover {
      border: 1px solid #00e4ff;
    }

    &:active {
      color: $color-blue;
    }

    &:active,
    &:focus,
    &:visited {
      outline: none;
    }
  }
}



