//---------------------------------- 1921 ------------------------------------
@media (max-width: 1921px) {
  .container {
    max-width: 1100px;
    margin: 0 auto;
  }
}

//---------------------------------- 1441 ------------------------------------
@media (max-width: 1441px) {
  .page-header {
    height: 100px;
  }

  .middle-section {
    padding: 200px 0 100px 0;
  }
}

//---------------------------------- 1201 ------------------------------------
@media (max-width: 1201px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }

  .filters ul {
    font-size: 14px;
  }
  .filters li {
    margin: 7px 0;
  }
  .subnote {
    font-size: 12px;
  }
}

//---------------------------------- 1025 ------------------------------------
@media (max-width: 1025px) {
  .container {
    max-width: 750px;
    margin: 0 auto;
  }

  .page-nav-list {
    width: 380px;
  }

  .main-content-header {
    padding: 0 65px 0 40px;
  }

  .filters {
    width: 25%;
  }

  .film-card-details-middle {
    margin-bottom: 30px;
  }
}

//---------------------------------- 861 ------------------------------------
@media (max-width: 861px) {
  .container {
    max-width: 700px;
    margin: 0 auto;
  }

  .main-content-header {
    padding: 0 30px 0 40px;
  }
}

//---------------------------------- 769 ------------------------------------
@media (max-width: 769px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
  }

  .page-header {
    padding: 0 40px;
  }

  .page-logo-link {
    font-size: 35px;
  }

  .page-nav-list {
    width: 350px;

    a {
      font-size: 16px;
    }
  }

  .filters {
    width: 40%;

    button {
      height: 28px;
      width: 33px;
      font-size: 10px;
    }
  }

  .main-content-header {
    padding: 0 55px 0 10px;
    //border: 1px solid aqua;
  }

  .main-content-active-filters {
    padding-left: 10px;
  }

  .sort {
    .custom-select {
      width: 100px;
      right: -113px;
    }
  }

  .clear-filters-btn {
    @include btn;
    font-size: 13px;
    width: 100px;
  }

  .film-card-details {
    width: 380px;
    height: 591px;
  }

  .film-card-details-middle {
    h4 {
      font-weight: 400;
      font-size: 20px;
      margin-bottom: 10px;
    }

    p {
      font-size: 15px;
      font-weight: 300;
      line-height: 1.5;
    }
  }

  .film-poster-details {
    margin-right: 20px;
  }

  .film-card-details-bottom {
    font-size: 15px;
  }


}

//---------------------------------- 681 ------------------------------------
@media (max-width: 681px) {
  .container {
    max-width: 550px;
    margin: 0 auto;
  }

  .page-nav-list {
    width: 340px;

    a {
      font-size: 15px;
    }
  }

  .main-content-header {
    padding: 0 25px 0 10px;
    //border: 1px solid aqua;
  }
}


//---------------------------------- 641 ------------------------------------
//-----------> tutaj już przenieść filtry (rozwijane) nad filmy
@media (max-width: 641px) {
  .container {
    max-width: 540px;
    margin: 0 auto;
  }

  .page-header {
    padding: 0 40px;
  }

  .page-nav-list {
    display: none;        //roboczo!!!!!!!!!!!!!!!!!!
  }

  .mob-nav-show-btn {
    display: inline-block;
  }

  .mob-nav-hide-btn {
    display: block;
  }

  .middle-section {
    padding: 180px 0 100px 0;
  }

  .middle-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-content {
    margin-top: 60px;
  }

  .main-content-header {
    padding: 0 40px 0 0;
  }

  .filters {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .filters-title {
    margin-bottom: 5px;
  }

  .filters-forms {
    margin-top: 50px;
    display: none;
  }

  .mob-filters-show-btn {
    display: inline-block;
  }

  .middle-section-intro .container {
    flex-direction: column;
    align-items: center;
  }

  .intro-watch,
  .intro-read {
    width: 70%;
    margin-bottom: 20px;
  }

  .intro-watch-title,
  .intro-read-title {
    font-size: 35px;
  }

  .intro-watch-text,
  .intro-read-text {
    font-size: 18px;
  }

  .intro-link {
    width: 160px;
    height: 40px;
    font-size: 18px;
    padding: 6px;
  }


}

