@media (max-width: 1400px) {
  .container {
    padding: 0 50px;
  }

  .film-card {
    width: 19.4%;
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 0 30px;
  }

  .page-header {
    height: 80px;
  }

  .page-logo-link {
    font-size: 30px;
  }

  .page-nav-list a {
    font-size: 16px;
  }

  .middle-section {
    padding: 150px 0 100px 0;
  }

  .filters li {
    font-size: 14px;
    margin: 4px 0;
  }

  .main-content {
    padding-left: 15px;
  }

  .search input {
    margin-left: 20px;
  }

  .film-card {
    width: 24.4%;
  }
}

@media (max-width: 800px) {
  .middle-section-intro {
    padding-top: 15%;
  }

  .intro-part {
    width: 100%;
  }

  .intro-part:first-child {
    margin-bottom: 100px;
  }

  .intro-part-title {
    margin-bottom: 30px;
  }

  .intro-part-text {
    margin-bottom: 40px;
  }

  .filters {
    width: 30%;
  }

  .main-content-header {
    margin-bottom: 20px;
  }

  .sort-and-search {
    display: initial;
  }

  .sort {
    margin-bottom: 15px;
  }

  .search input {
    margin-left: 0;
    width: 187px;
  }

  .film-card {
    width: 32.7%;
  }
}


@media (max-width: 640px) {
  .mob-nav-hide-btn {
    display: block;
  }

  .middle-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mob-nav-show-btn {
    display: inline-block;
  }

  .mob-filters-show-btn {
    display: inline-block;
  }

  .filters {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding-right: 0;
    width: 100%;
  }

  .filters-title {
    margin-bottom: 15px;
  }

  .filters-forms {
    margin-top: 30px;
    display: none;
  }

  .main-content {
    width: 100%;
    padding-left: 0;
  }

  .main-content-active-filters {
    margin-bottom: 15px;
    padding: 0 15px;
  }

  .film-card .film-description {
    padding: 3px;
  }
}

@media (max-width: 550px) {
  .intro-part-title {
    font-size: 35px;
  }

  .intro-link {
    padding: 12px 35px 15px;
  }

  .film-card {
    width: 48%;
    margin-right: inherit;
  }
}

@media (max-width: 450px) {
  .middle-section-intro .container {
    padding: 0 15px;
  }

  .intro-part {
    padding: 0;
  }

  .middle-section {
    padding: 130px 0 100px 0;
  }
}

@media (max-width: 400px) {
  .intro-part-title {
    font-size: 30px;
  }

  .main-content-header {
    display: block;
    text-align: center;
  }

  .sort .custom-select {
    width: 160px;
  }

  .search {
    margin-bottom: 15px;
  }

  .search input {
    width: 227px;
  }

  .film-content {
    justify-content: center;
  }

  .film-card {
    width: 100%;
  }

  .film-card:last-child {
    margin-right: initial;
  }
}


@media (max-width: 1024px) and (orientation: portrait) {
  .middle-section-intro {
    padding-top: 15%;
  }

  .intro-part {
    width: 100%;
  }

  .intro-part:first-child {
    margin-bottom: 100px;
  }

  .intro-part-title {
    margin-bottom: 30px;
  }

  .intro-part-text {
    margin-bottom: 40px;
  }
}