//----------------------- MIDDLE SECTION -------------------------

.middle-section {
  //border: 1px solid red;
  padding: 220px 0 100px 0;
}

.middle-section .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  //border: 1px solid blue;
}

.loading {
  height: 100%;
  width: 100%;
  text-align: center;
  font-weight: 200;
  font-size: 25px;
}