.notFound {
  display: flex;
  height: 100vh;
  padding: 0 30px;
  justify-content: center;
  align-items: center;
}

.notFound-text {
  font-weight: 200;
  font-size: 80px;
  color: black;
  text-align: center;

  h2 {
    font-weight: 200;
    font-size: 30px;
    text-align: center;
  }
}