.middle-section-about .container {
  padding: 250px 30px 0 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about-header {
  font-weight: 200;
  font-size: 30px;
  margin-bottom: 30px;
}

.about-text {
  padding: 0 50px;
  font-weight: 200;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
}
