.film-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  //flex-flow: row wrap;
}

//.film-content:after {
//  content: '';
//  flex: auto;
//}

.film-card--holder {
  height: 0;
  position: relative;
  padding-bottom: 32%;
}

.film-card {
  width: 16%;
  margin-bottom: 5px;
  margin-right: 0.6%;
  min-height: 316px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 2px;


  //---------------------------------------
  &:last-child {
    margin-right: auto;
  }


  &:hover {
    border: 1px solid #bbbbbb;
  }

  .film-poster-container {
    height: 0;
    padding-bottom: 142.5%;
    position: relative;

    //height: 215px;
    overflow: hidden;
    margin-bottom: 3px;
  }

  .film-poster {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s all;

    &:hover {
      transform: scale(1.05);
    }
  }

  .film-description {
    padding: 2px;
  }

  h4 {
    font-weight: 400;
    margin-bottom: 3px;
  }

  p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 3px;
  }
}

.no-films-found {
  height: 100%;
  width: 100%;
  padding: 100px;
  text-align: center;
  font-weight: 200;
  font-size: 25px;
}