* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Source Sans Pro', sans-serif; }

.filters {
  width: 20%;
  padding-right: 10px;
  font-weight: 300;
  font-size: 16px;
  border-right: 1px solid #c1c2c3; }

.filters ul {
  list-style: none; }

.filters-title {
  margin-top: 2px;
  margin-bottom: 45px;
  border-bottom: 1px solid black;
  display: inline-block; }

.mob-filters-show-btn {
  display: none;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative; }
  .mob-filters-show-btn.opened {
    margin-top: 10px;
    transform: rotate(-180deg); }
  .mob-filters-show-btn span {
    display: inline-block;
    background-color: black;
    height: 1px;
    width: 30px;
    position: absolute; }
    .mob-filters-show-btn span:first-child {
      transform: rotate(45deg);
      top: 20px;
      left: -10px; }
    .mob-filters-show-btn span:last-child {
      transform: rotate(-45deg);
      top: 20px;
      left: 12px; }
  .mob-filters-show-btn:hover span {
    background-color: #00e4ff; }
  .mob-filters-show-btn:active span {
    background-color: #00e4ff;
    outline: none; }
  .mob-filters-show-btn:visited {
    outline: none; }
  .mob-filters-show-btn:focus {
    outline: none; }

.filters-forms {
  transition: 0.5s all; }

.filters-section {
  padding: 10px;
  transition: 0.5s all; }

.filters-section-title {
  font-weight: 700; }

.filters-list {
  padding: 10px 5px; }

.filters li {
  margin: 3px 0; }

.filters-checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative; }
  .filters-checkbox input {
    position: absolute;
    left: 0;
    right: 0;
    width: 20px;
    height: 20px;
    opacity: 0; }

.filters-checkbox input + span {
  flex-shrink: 0;
  margin-right: 5px;
  display: block;
  height: 20px;
  width: 20px;
  border: 1px solid #bbbbbb;
  position: relative; }

.filters-checkbox input:hover + span {
  border: 1px solid #00e4ff; }

.filters-checkbox input + span:after {
  content: '';
  background: url(images/tick_32x32.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: 0.5s all;
  opacity: 0; }

.filters-checkbox input:checked + span:after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1); }

.filters-button-row {
  display: flex;
  justify-content: flex-end; }
  .filters-button-row input {
    height: 30px;
    border: 1px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    width: 35px;
    margin: 0 10px;
    font-size: 12px; }
    .filters-button-row input:hover {
      border: 1px solid #00e4ff; }
    .filters-button-row input:active {
      color: #00e4ff; }

.subnote {
  display: inline;
  font-size: 14px;
  margin-left: 24px; }

.page-header {
  width: 100%;
  height: 120px;
  background-color: black;
  position: fixed;
  z-index: 1; }
  .page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; }

.page-logo {
  margin: 0;
  padding: 0;
  position: relative; }

.page-logo-link {
  color: white;
  text-decoration: none;
  font-weight: 200;
  font-size: 40px;
  padding: 10px; }
  .page-logo-link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    height: 1px;
    background-color: #00e4ff;
    width: 100%;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s; }
  .page-logo-link:hover:after {
    visibility: visible;
    transform: scaleX(1); }
  .page-logo-link:active {
    color: #00e4ff; }

.page-nav-list {
  width: 370px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px; }
  .page-nav-list li {
    display: inline-block;
    padding: 15px;
    position: relative; }
  .page-nav-list a {
    text-decoration: none;
    color: white;
    font-weight: 200;
    font-size: 18px;
    padding: 10px;
    position: relative; }
    .page-nav-list a:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      height: 1px;
      background-color: #00e4ff;
      width: 100%;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s; }
    .page-nav-list a:hover:after {
      visibility: visible;
      transform: scaleX(1); }
    .page-nav-list a:active {
      color: #00e4ff; }

body {
  position: relative; }

.container {
  max-width: 1300px;
  margin: 0 auto; }

.hidden {
  display: none; }

.open {
  display: block !important; }

.middle-section {
  padding: 220px 0 100px 0; }

.middle-section .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%; }

.loading {
  height: 100%;
  width: 100%;
  padding: 100px;
  text-align: center;
  font-weight: 200;
  font-size: 25px; }

.main-content {
  width: 80%;
  height: 100%; }

.main-content-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 40px;
  width: 100%;
  height: 40px; }

.main-content-active-filters {
  height: 28px;
  padding-left: 40px;
  font-size: 14px;
  font-weight: 300; }

.sort {
  margin-top: 4px; }
  .sort label {
    font-size: 16px;
    font-weight: 300;
    position: relative; }
  .sort .custom-select {
    width: 120px;
    height: 30px;
    border: 1px solid black;
    position: absolute;
    right: -135px;
    bottom: -6px; }
    .sort .custom-select:hover, .sort .custom-select:focus {
      border: 1px solid #00e4ff; }
    .sort .custom-select select {
      width: 100%;
      height: 100%;
      background-color: white;
      border: transparent;
      cursor: pointer; }

.clear-filters-btn {
  height: 30px;
  border: 1px solid black;
  background-color: white;
  color: black;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  width: 120px; }
  .clear-filters-btn:hover {
    border: 1px solid #00e4ff; }
  .clear-filters-btn:active {
    color: #00e4ff; }
  .clear-filters-btn:visited {
    outline: none; }

.film-content {
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  min-height: 80%;
  padding: 10px 0 10px 21px; }

.film-card {
  width: 160px;
  height: 316px;
  padding: 3px;
  margin: 4px;
  border: 1px solid transparent;
  cursor: pointer; }
  .film-card:hover {
    border: 1px solid #bbbbbb; }
  .film-card .film-poster-container {
    width: 152px;
    height: 215px;
    overflow: hidden; }
  .film-card .film-poster {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s all; }
    .film-card .film-poster:hover {
      transform: scale(1.05); }
  .film-card .film-description {
    padding-left: 2px; }
  .film-card h4 {
    font-weight: 400; }
  .film-card p {
    font-size: 14px;
    font-weight: 300; }

.no-films-found {
  height: 100%;
  width: 100%;
  padding: 100px;
  text-align: center;
  font-weight: 200;
  font-size: 25px; }

.mob-nav-list {
  display: flex;
  flex-direction: column;
  background: black;
  width: 300px;
  position: fixed;
  top: 0;
  right: -300px;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 35px 30px;
  transition: 0.5s all;
  z-index: 2; }
  .mob-nav-list.show {
    right: 0; }
  .mob-nav-list li {
    margin: 30px 0; }
  .mob-nav-list a {
    text-decoration: none;
    color: white;
    font-weight: 200;
    padding: 20px;
    position: relative; }
    .mob-nav-list a:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      height: 1px;
      background-color: #00e4ff;
      width: 100%;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s; }
    .mob-nav-list a:hover:after {
      visibility: visible;
      transform: scaleX(1); }
    .mob-nav-list a:active {
      color: #00e4ff; }

.mob-nav-show-btn {
  display: none;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer; }
  .mob-nav-show-btn span {
    display: block;
    width: 100%;
    height: 1px;
    background: white;
    margin: 15px 0; }
    .mob-nav-show-btn span:first-child {
      margin-top: 2px; }
  .mob-nav-show-btn:hover span {
    background: #00e4ff; }

.mob-nav-hide-btn {
  display: none;
  width: 25px;
  height: 25px;
  border: 1px solid transparent;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: black;
  position: relative;
  cursor: pointer; }
  .mob-nav-hide-btn:hover span {
    background-color: #00e4ff; }
  .mob-nav-hide-btn span {
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: white; }
    .mob-nav-hide-btn span:first-child {
      transform: rotate(45deg);
      left: -6px;
      top: 14px; }
    .mob-nav-hide-btn span:last-child {
      transform: rotate(-45deg);
      left: -6px;
      top: 14px; }

.film-card-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3; }

.film-card-details-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 4;
  cursor: pointer;
  transition: 0.5s all; }

.film-card-details {
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 700px;
  height: 450px;
  background: white;
  padding: 10px;
  line-height: 1.2;
  transition: 0.5s all; }

.film-card-details-top {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start; }

.film-card-details-close-btn {
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  background-color: white;
  position: relative;
  cursor: pointer; }
  .film-card-details-close-btn:hover span, .film-card-details-close-btn:active span {
    background-color: #00e4ff; }
  .film-card-details-close-btn span {
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: black; }
    .film-card-details-close-btn span:first-child {
      transform: rotate(45deg);
      left: -6px;
      top: 14px; }
    .film-card-details-close-btn span:last-child {
      transform: rotate(-45deg);
      left: -6px;
      top: 14px; }

.film-card-details-middle {
  display: flex;
  justify-content: flex-start;
  padding: 0 20px;
  margin-bottom: 10px; }
  .film-card-details-middle h4 {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 10px; }
  .film-card-details-middle p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.3; }

.film-poster-details {
  width: 152px;
  height: 215px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 6;
  margin-right: 30px;
  flex-shrink: 0; }

.film-card-details-bottom {
  padding: 20px;
  font-size: 18px;
  font-weight: 200; }

.middle-section-intro .container {
  padding: 250px 30px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%; }

.intro-watch,
.intro-read {
  width: 50%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.intro-watch-title,
.intro-read-title {
  font-weight: 300;
  height: 100px;
  font-size: 40px;
  text-align: center; }

.intro-watch-text,
.intro-read-text {
  height: 50%;
  padding: 30px;
  line-height: 1.6;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 20px; }

.intro-link {
  text-decoration: none;
  border: 1px solid black;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: 200;
  padding: 8px;
  text-align: center;
  color: black; }
  .intro-link:hover, .intro-link:active {
    border: 1px solid #00e4ff; }
  .intro-link:active {
    color: #00e4ff; }

.middle-section-about .container {
  padding: 250px 30px 0 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.about-header {
  font-weight: 200;
  font-size: 30px;
  margin-bottom: 30px; }

.about-text {
  padding: 0 50px;
  font-weight: 200;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify; }

.notFound {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 30px;
  justify-content: center;
  align-items: center; }

.notFound-header {
  font-weight: 200;
  font-size: 80px;
  color: black;
  text-align: center; }

.notFound-text {
  font-weight: 200;
  font-size: 30px;
  text-align: center; }

@media (max-width: 1921px) {
  .container {
    max-width: 1100px;
    margin: 0 auto; } }

@media (max-width: 1441px) {
  .page-header {
    height: 100px; }
  .middle-section-intro .container {
    padding: 120px 30px 0 30px; }
  .middle-section-about .container {
    padding: 170px 30px 0 30px; }
  .middle-section {
    padding: 200px 0 100px 0; } }

@media (max-width: 1201px) {
  .container {
    max-width: 900px;
    margin: 0 auto; }
  .page-nav-list {
    width: 350px; }
  .filters ul {
    font-size: 14px; }
  .filters li {
    margin: 7px 0; }
  .subnote {
    font-size: 12px; }
  .loading,
  .no-films-found {
    font-size: 20px; } }

@media (max-width: 1025px) {
  .container {
    max-width: 750px;
    margin: 0 auto; }
  .middle-section-intro .container {
    padding: 100px 30px 0 30px; }
  .main-content-header {
    padding: 0 65px 0 40px; }
  .about-text {
    font-size: 18px; }
  .filters {
    width: 25%; }
  .film-card-details-middle {
    margin-bottom: 30px; } }

@media (max-width: 861px) {
  .container {
    max-width: 700px;
    margin: 0 auto; }
  .main-content-header {
    padding: 0 30px 0 40px; } }

@media (max-width: 769px) {
  .container {
    max-width: 600px;
    margin: 0 auto; }
  .intro-watch-title,
  .intro-read-title {
    font-size: 35px; }
  .intro-watch-text,
  .intro-read-text {
    padding: 30px 5px;
    line-height: 1.3;
    font-size: 18px; }
  .intro-link {
    width: 160px;
    height: 40px;
    font-size: 18px;
    padding: 6px; }
  .page-header {
    padding: 0 40px; }
  .page-logo-link {
    font-size: 35px; }
  .page-nav-list {
    width: 300px; }
    .page-nav-list a {
      font-size: 16px; }
  .filters {
    width: 40%; }
    .filters button {
      height: 28px;
      width: 33px;
      font-size: 10px; }
  .main-content-header {
    padding: 0 55px 0 10px; }
  .main-content-active-filters {
    padding-left: 10px; }
  .sort .custom-select {
    width: 100px;
    right: -113px; }
  .clear-filters-btn {
    height: 30px;
    border: 1px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    font-size: 13px;
    width: 100px; }
  .film-card-details {
    width: 380px;
    height: 591px; }
  .film-card-details-middle h4 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px; }
  .film-card-details-middle p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5; }
  .film-poster-details {
    margin-right: 20px; }
  .film-card-details-bottom {
    font-size: 15px; } }

@media (max-width: 681px) {
  .container {
    max-width: 550px;
    margin: 0 auto; }
  .page-nav-list {
    width: 280px; }
    .page-nav-list a {
      font-size: 15px; }
  .main-content-header {
    padding: 0 25px 0 10px; } }

@media (max-width: 641px) {
  .container {
    max-width: 540px;
    margin: 0 auto; }
  .middle-section-intro .container {
    padding: 60px 30px 0 30px;
    flex-direction: column;
    align-items: center; }
  .intro-watch,
  .intro-read {
    width: 70%;
    margin-bottom: 20px; }
  .intro-watch-title,
  .intro-read-title {
    font-size: 35px;
    padding: 0 2px; }
  .intro-watch-text,
  .intro-read-text {
    font-size: 18px; }
  .page-header {
    padding: 0 40px; }
  .page-nav-list {
    display: none; }
  .mob-nav-show-btn {
    display: inline-block; }
  .mob-nav-hide-btn {
    display: block; }
  .middle-section {
    padding: 180px 0 100px 0; }
  .middle-section .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main-content {
    margin-top: 60px; }
  .main-content-header {
    padding: 0 40px 0 0; }
  .film-content {
    padding: 10px 0 10px 40px; }
  .filters {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .filters-title {
    margin-bottom: 5px; }
  .filters-forms {
    margin-top: 50px;
    display: none; }
  .mob-filters-show-btn {
    display: inline-block; }
  .notFound-header {
    font-size: 60px;
    margin-bottom: 10px; }
  .notFound-text {
    font-size: 25px; } }

@media (max-width: 531px) {
  .container {
    max-width: 500px;
    margin: 0 auto; }
  .middle-section-intro .container {
    padding: 40px 30px 0 30px; }
  .film-content {
    padding: 10px 0 10px 35px; } }

@media (max-width: 501px) {
  .container {
    max-width: 470px;
    margin: 0 auto; }
  .main-content-header {
    padding: 0 33px 0 0; }
  .film-content {
    padding: 10px 0 10px 25px; } }

@media (max-width: 481px) {
  .container {
    max-width: 460px;
    margin: 0 auto; }
  .film-content {
    padding: 10px 0 10px 15px; } }

@media (max-width: 461px) {
  .container {
    max-width: 440px;
    margin: 0 auto; }
  .intro-watch,
  .intro-read {
    width: 80%; }
  .intro-watch-title,
  .intro-read-title {
    font-size: 31px; }
  .main-content-header {
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 80px;
    margin: 20px 0 10px 0; }
  .sort {
    margin-right: 30%; }
  .main-content-active-filters {
    height: 40px;
    padding: 0 10px 0 30px;
    font-size: 14px;
    font-weight: 300; }
  .film-content {
    flex-direction: column;
    align-items: center; }
  .film-card {
    width: 200px;
    height: 390px; }
    .film-card .film-poster-container {
      width: 190px;
      height: 269px; }
    .film-card .film-description {
      padding-top: 5px;
      padding-left: 4px; }
    .film-card h4 {
      font-size: 18px; }
    .film-card p {
      font-size: 16px; }
  .film-card-details {
    width: 300px;
    height: 467px; }
  .film-card-details-middle {
    margin-bottom: 10px; }
    .film-card-details-middle h4 {
      font-size: 18px;
      margin-bottom: 0;
      margin-top: 5px; }
    .film-card-details-middle p {
      line-height: 1.2; }
  .film-poster-details {
    width: 100px;
    height: 142px;
    margin-right: 20px; }
  .loading,
  .no-films-found {
    font-size: 18px; } }

@media (max-width: 401px) {
  .intro-watch,
  .intro-read {
    width: 85%; }
  .intro-watch-title,
  .intro-read-title {
    font-size: 28px;
    height: 80px;
    padding: 0 5px; }
  .intro-watch-text,
  .intro-read-text {
    padding: 20px 5px; }
  .intro-link {
    width: 140px; }
  .loading,
  .no-films-found {
    font-size: 16px;
    padding: 80px; } }

